@media screen and (orientation: landscape) {
  .AppUpsellHeader__background {
    height: 22vh;
  }
  }
@media screen and (orientation: portrait) {
.AppUpsellHeader__background {
  height: 10vh;
}
}

html {
background-color: #efefef;
}

html, body {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
color: rgb(33, 25, 34);
font-size: 12px;
height: 100%;
}

body {
position: relative;
overflow-y: scroll;
}

input::-ms-clear {
display: none;
}

a {
color: #717171;
font-weight: bold;
text-decoration: none;
}

a:focus,
a:hover {
color: #8a8a8a;
}

ul {
margin: 0;
padding: 0;
}

ul li {
list-style: none;
padding: 0;
}

:focus {
outline: #d1d1d1 auto 1px
}

button, input, select, textarea {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 100%;
vertical-align: middle;
margin: 0px;
}

.SkipToContent {
display: none;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.UnauthHeader__headerContainer {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}
.UnauthHeader__discoverText {
display: block;
}
.UnauthHeader__rightContentContainer {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
flex-direction: row;
}

.UnauthHeader__hoverUnderline:hover {
text-decoration: underline;
}

@keyframes LoginButton__PulseAnimation {
from {
  transform: scale(1, 1);
}

50% {
  transform: scale(1.03, 1.12);
}

to {
  transform: scale(1, 1);
}
}
.LoginButton__pulsar {
animation-name: LoginButton__PulseAnimation;
}

.EuCookieBar__learnMore:hover, .EuCookieBar__learnMore:focus {
text-decoration: underline;
}
.EuCookieBar__cookieButton {
background-color: transparent;
-webkit-text-size-adjust: 120%;
}
.EuCookieBar__cookieButton:hover, .EuCookieBar__cookieButton:focus {
background-color: #999;
opacity: 1;
}

@keyframes scrollBgGridLinks {
from {
  transform: translateY(0px);
}
to {
  transform: translateY(-300px);
}
}

.MwebHomepage__background {
  background-image: url "https://s.pinimg.com/webapp/style/images/pin_grid-1x-51034067.jpg";
    background-size: 344px 370px;
    background-repeat: no-repeat;
}
.MwebHomepage__gradient {
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
ul {
display: block;
}

audio,
canvas,
video {
display: inline-block;
}

audio:not([controls]) {
display: none;
}

html {
font-size: 100%;
text-size-adjust: none;
}

a:hover,
a:active {
outline: 0;
}

sub,
sup {
position: relative;
font-size: 75%;
line-height: 0;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}

img {
max-width: 100%;
width: auto9;
height: auto;

vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}

#map_canvas img {
max-width: none;
}

fieldset {
border: 0;
margin: 0;
padding: 0;
}

button,
input,
select,
textarea {
font-size: 100%;
margin: 0;
vertical-align: middle;
}
button,
input {
overflow: visible;
line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
padding: 0;
border: 0;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
cursor: pointer;
-webkit-appearance: button;
}
input[type='search'] {
box-sizing: content-box;
-webkit-appearance: textfield;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
-webkit-appearance: none;
}
textarea {
overflow: auto;
vertical-align: top;
}
body {
margin: 0;
}
h1, h2, h3, h4, h5, h6 {
margin: 0;
}

.AlternativesSeparatorContinuous:before, .AlternativesSeparatorContinuous:after {
background: rgba(0,0,0,0.2);
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
box-shadow: 0 1px 0 rgba(255,255,255,0.5);
content: '';
display: inline-block;
height: 1px;
position: relative;
vertical-align: middle;
width: 37%;
}

.Gender__customGenderTooltip:after, .customGenderTooltip:before {
bottom: 100%;
left: 92.5%;
border: solid transparent;
content: ' ';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.Gender__customGenderTooltip:after {
border-color: rgba(255, 255, 255, 0);
border-bottom-color: #ffffff;
border-width: 10px;
margin-left: -10px;
}
.Gender__customGenderTooltip:before {
border-color: rgba(145, 145, 145, 0);
border-bottom-color: #919191;
border-width: 11px;
margin-left: -11px;
}
.Gender__customGenderTooltipMobile:after, .customGenderTooltip:before {
bottom: 100%;
left: 92.5%;
border: solid transparent;
content: ' ';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.Gender__customGenderTooltipMobile:after {
border-color: rgba(255, 255, 255, 0);
border-width: 10px;
margin-left: -10px;
}
.Gender__customGenderTooltipMobile:before {
border-color: rgba(145, 145, 145, 0);
border-bottom-color: #919191;
border-width: 11px;
margin-left: -11px;
}
.Gender__customGenderTooltipText:after, .customGenderTooltip:before {
bottom: 100%;
left: 92.5%;
border: solid transparent;
content: ' ';
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.Gender__customGenderTooltipText:after {
border-color: rgba(255, 255, 255, 0);
border-width: 10px;
margin-left: 5px;
margin-top: 10px;
}
.Gender__customGenderTooltipText:before {
border-color: rgba(145, 145, 145, 0);
border-bottom-color: #919191;
border-width: 11px;
margin-left: 5px;
margin-top: 10px;
}

.Tooltip_message:before, .Tooltip_message:after {
border-style: solid;
content: '';
display: block;
margin-top: -8px;
position: absolute;
right: 100%;
top: 17px;
width: 0;
}
.Tooltip_message:before {
border-color: transparent rgba(0,0,0,0.48);
border-width: 8px 10px 8px 0;
}
.Tooltip_message:after {
border-color: transparent #fff;
border-width: 8px 10px 8px 0;
margin-right: -1px;
}
.Tooltip_suggestionMessage:before, .Tooltip_suggestionMessage:after {
border-style: solid;
content: '';
display: block;
margin-top: -8px;
position: absolute;
right: 100%;
top: 17px;
width: 0;
}
.Tooltip_suggestionMessage:before {
border-color: transparent rgba(0,0,0,0.48);
border-width: 8px 10px 8px 0;
}
.Tooltip_suggestionMessage:after {
border-color: transparent #E2780D;
border-width: 8px 10px 8px 0;
}
.Tooltip_mobileMessage:before, .Tooltip_message:after {
border-style: solid;
display: block;
margin-top: -8px;
position: absolute;
right: 100%;
top: 17px;
width: 0;
}
.Tooltip_mobileMessage:before {
border-color: transparent rgba(0,0,0,0.48);
border-width: 8px 10px 8px 0;
}
.Tooltip_mobileMessage:after {
border-color: transparent #fff;
border-width: 8px 10px 8px 0;
margin-right: -1px;
}
.Tooltip_wrapper {
position: absolute;
left: calc(100% + 12px);
z-index: 1;
}
.Tooltip_mobileWrapper {
margin-top: 7px;
z-index: 1;
}

.TermsOfService__light a {
color: rgba(255,255,255,0.9);
}

.red.active:focus,
.red.active:hover {
background-color: #d50c22 !important;
}
.lightGrey.active:focus,
.lightGrey.active:hover {
background-color: #f5f3f3 !important;
}
.darkGrey.active:focus,
.darkGrey.active:hover {
background-color: #5e5e5e !important;
}
.blueTransparent.active:focus,
.blueTransparent.active:hover {
background-color: #0077e6 !important;
}
.white.active:focus,
.white.active:hover {
background-color: #e6e6e6 !important;
}
@keyframes loadingSpinner {
to {transform: rotate(360deg);}
}

.loadingSpinner:before {
content: '';
box-sizing: border-box;
position: absolute;
top: 50%;
left: 50%;
width: 20px;
height: 20px;
margin-top: -10px;
margin-left: -10px;
border-radius: 50%;
border-top: 2px solid white;
border-right: 2px solid transparent;
animation: loadingSpinner 1s linear infinite;
}

.FullPageSignup__signupToggle {
color: #717171;
}

.FullPageSignup__signupToggle:focus,
.FullPageSignup__signupToggle:hover  {
color: #8a8a8a;
}


.FullPageModal__scroller {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
}

.GrowthUnauthToast__container {
margin-top: -100px;
opacity: 0;
}

@media (min-height: 750px) {
.GrowthUnauthToast__container {
  opacity: 1;
}
}

.GrowthUnauthToast__container.animate {
opacity: 0;
}

@media (min-height: 750px) {
.GrowthUnauthToast__container.animate {
  transition: margin-top .35s, opacity .35s cubic-bezier(0.31,0,0.34,1);;
  -webkit-transition: margin-top .35s, opacity .35s cubic-bezier(0.31,0,0.34,1);;
  margin-top: 22px;
  opacity: 1;
}
}

html:not([dir=rtl]) ._sk {
text-align: left;
}

._6b {
color: #e3780c;
}
._tc {
font-size: 14px;
}
._51mz {
border: 0;
border-collapse: collapse;
border-spacing: 0;
}
._5h0i {
background-color: #4267b2;
border-radius: 4px;
color: #fff;
}
._rw {
  padding-bottom: 10%;
}
table {
display: table;
border-collapse: separate;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
border-top-color: gray;
border-right-color: gray;
border-bottom-color: gray;
border-left-color: gray;
}
._5h0c {
background-color: #e9ebee;
cursor: pointer;
display: inline-block;
vertical-align: top;
}

._5h0d ._5h0o {
font-size: 16px;
margin-right: 12px;
}
._5h0o {
border: none;
font-family: Helvetica, Arial, sans-serif;
letter-spacing: .25px;
overflow: hidden;
text-align: center;
text-overflow: clip;
white-space: nowrap;
}

._si {
-webkit-hyphens: auto;
-ms-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
word-wrap: break-word;
}
._sc {
font-weight: 400;
}
._sa {
  line-height: 1.2;
}
._s7 {
  moz-osx-font-smoothing: grayscale;
  webkit-font-smoothing: antialiased;
}
._s8 {
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,\\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3,Hiragino Kaku Gothic Pro,\\30E1\30A4\30EA\30AA,Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif;
}
._s9 {
letter-spacing: -.4px;
}
._t2 {
cursor: pointer;
}
._40 {
width: 100%;
}
._2s {
box-sizing: border-box;
}
._2p {
min-height: 36px;
}
._27 {
display: block;
}
._5e {
border: 0;
}
._sr {
padding: 8px 14px;
}
._so {
border-radius: 4px;
}
._2q {
min-height: 40px;
}
._yn {
cursor: text;
}
._yl {
border-color: #b5b5b5;
}
._yk {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 4px;
border-style: solid;
border-width: 1px;
padding: 8px 14px;
}
._5n {
color: #555;
}
._5i {
background-color: #fff;
}
._td {
font-size: 16px;
}
._ta {
  text-align: center;
}
